<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Displays — Receiver</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">

  <style>
   .dashboard {
     width: 100vw;
     height: 100vh;
   }
  </style>
</head>
<body>
  <iframe src="<%= @display.url %>"
          id="dashboard"
          class="dashboard"
          scrolling="no"
          frameborder="0"
          width="100vw"
          height="100vh"
          allowfullscreen></iframe>
</body>
</html>
